{% extends "books/base.html" %}

{% block heading %} Book Listings for "{{the_title}}" {% endblock %}

{% block content %}

<ul>
{% for listing in all_listings %}
<!-- Render a table that is sorted by depart, course, professor, and title -->
	<li> {{ listing.seller_email }} Book Condition: {{listing.condition}} Buy? {{listing.is_buy_it_now}} Auction? {{listing.is_auction}} \n
		{% ifequal listing.is_buy_it_now  True %} 
			<a href="{% url 'books.views.buy_book' listing_id=listing.id %}"> Buy now for ${{listing.buy_it_now_price}}! </a>
		{% else %}
			<button type = "button">Auction item!</button>
			<a href="{% url 'books.views.get_bid_info' listing_id=listing.id %}"> Go make a bid! </a>
		{% endifequal %} 
	</li>
{% empty %}
	<li> Sorry, there are no active listings for this book </li>
{% endfor %}
</ul>

{% endblock %}