{% extends "books/base.html" %}

{% block heading %} Book Listings for "{{the_title}}" {% endblock %}

{% block content %}

<ul>
{% for listing in all_listings %}
<!-- Render a table that is sorted by depart, course, professor, and title -->
	<li> {{ listing.seller_email }} Book Condition: {{listing.condition}} {{listing.is_buy_it_now}} {{listing.is_auction}}
		{% ifequal listing.is_buy_it_now  True %} 
			Buy now!
		{% else %}
			Auction item!
		{% endifequal %} 
	</li>
{% empty %}
	<li> Sorry, there are no active listings for this book </li>
{% endfor %}
</ul>

{% endblock %}