{% extends "books/base.html" %}

{% block heading %}Welcome to Duke Book Exchange{% endblock %}
{% block login %}{% endblock %}
{% block content %}

	<form id = "user_form" class="form" method = "post"> 
		{% csrf_token %}
			<input type="text" placeholder="first name">
			<input type="text" placeholder="last name">
			<input type="username" placeholder="your_address@duke.edu">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button" href = "{% url 'books.views.list' %}">Create Account</button>
		</form>

{% endblock %}